<td-layout-nav logo="assets:covalent" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Hasitha's Dashboard</span>
    <span flex></span>
  </div>
  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="60">
      <div layout-gt-xs="row">
        <div flex-gt-xs="100">
          <mat-card>
            <mat-card-title>Favorite Stocks </mat-card-title>
            <mat-card-subtitle>stock price changing graph</mat-card-subtitle>
            <mat-divider></mat-divider>
            <div class="chart-height push-top push-right-sm">
              <ngx-charts-line-chart
                [scheme]="{ domain: [ '#4DD0E1', '#BA68C8', '#FF7043' ] }"
                [results]="multi"
                [gradient]="gradient"
                [autoScale]="false"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [xAxisTickFormatting]="axisDate">
              </ngx-charts-line-chart>
            </div>
          </mat-card>
        </div>
      </div>

      <mat-card>
        <mat-card-title>Stock News</mat-card-title>
        <mat-card-subtitle>Recent stock news</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-nav-list class="will-load item-list">
          <ng-template tdLoading="items.load">
            <ng-template let-item let-last="last" ngFor [ngForOf]="items">
              <a mat-list-item layout-align="row" [routerLink]="['../news', item.item_id]">
                <mat-icon matListAvatar> {{item.icon}} </mat-icon>
                <h3 matLine> {{item.title}} </h3>
                <p matLine> {{item.description | truncate:50 }} </p>
                <span flex></span>
                <span class="mat-caption text-right" flex="20"> {{item.created | timeAgo }} </span>
              </a>
              <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
            </ng-template>
          </ng-template>
        </mat-nav-list>
      </mat-card>
    </div>
    <div flex-gt-sm="40">
      <mat-card>
        <mat-card-title>Stock Alerts</mat-card-title>
        <mat-card-subtitle>Stock requiring attention</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-list class="will-load alert-list">
          <ng-template tdLoading="alerts.load">
            <ng-template let-item let-last="last" ngFor [ngForOf]="alerts">
              <mat-list-item layout-align="row">
                <mat-icon matListAvatar class="bgc-amber-800">{{item.icon}}</mat-icon>
                <h3 matLine> {{item.name}} </h3>
                <p matLine> {{item.description}} </p>
              </mat-list-item>
              <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
            </ng-template>
          </ng-template>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <a mat-button color="accent" class="text-upper" [routerLink]="['/logs']">
            <span>View More</span>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="mat-caption">Copyright &copy; {{year}} Teradata. All rights reserved</span>
      <span flex></span>
      <mat-icon class="mat-icon-ux" svgIcon="assets:teradata-ux"></mat-icon>
    </div>
  </td-layout-footer>
</td-layout-nav>
